.contact_container{
   padding: 5vh 5vh 0 5vw;
   height: 100vh;
   background-color: #e6e6e6;
}
form{
  max-width: 600px;
  width: 90%;
  /* max-height: 80vh; */
  background: white;
  margin: 10vh auto 5vh auto;
  padding: 40px;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  gap: 50px;
}
.contactMe{
  margin: 5px auto 10px auto;
  text-align: center;
}
label{
  display: block;
  margin: 20px 0;
  font-size: 18px;
}
input,textarea
 {
  width: 100%;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  outline: none;
  border: none;
  border-bottom: 1px solid #d3d3d3;
  border-radius: 5px;
  resize: none;
  max-height: 5vh;
  
}
#submit {
    margin: 5% auto 0px 7%;
    width: 85%;
    /* justify-self: center; */
    /* align-items: center; */
    height: 30px;
    font-size: 16px;
    /* border-width: 0px; */
    padding: 15px 0 30px 0;
    background-color: #181818;
    color: rgb(214,214,214);
    cursor: pointer;
  }
  #submit:hover {
    background-color:rgb(236, 236, 236) ;
    color: black;
    border-width: 0px;
  }

input:focus,
textarea:focus
{
  border-bottom: 1px solid black;
}
.message_text{
    font-size: 18px;
}
.socials{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid red;
  gap: 50px;

}
.icons{
 height: 50px;
}