@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Playfair+Display&family=Roboto+Slab&family=Roboto:wght@700&display=swap');

.hero_container{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(67, 67, 67);
}
.des_container{
    align-self: center;
    padding-left: 4%;
}
.des_container h1{
    font-size: 80px;
    line-height: 75px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.des_container p{
    padding-top: 30px;
    padding-bottom: 40px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;

}
.profile{
    margin-top: -10vh;
}
.home_Btn{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
@media screen and (max-width:965px){
    .profile{
        display: none;
    }
}

