@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
}
li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}
.nav_container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0% 5%;
    position: relative;
    background-color: aquamarine;
}
.nav_container a{
  margin-right: auto;
}
.nav_logo{
  max-width: 70px;
  max-height: 70px;
}
.items{
    display: inline-block;
    padding: 0px 30px;
}
.items a {
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
  }
  .items a:hover {
    color:rgb(15,130,144);
  }
 .btn{
    padding: 9px 25px;
    background-color: rgb(15,130,144);
    color:rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
    display: none;
  }
  button:hover {
    background-color: rgb(26, 175, 195);
    color:rgb(0, 0, 0);
  }

  @media screen and (max-width:766px){
    .nav_container{
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      padding: 0px;
  }
    .list{
      flex-direction: column;
      height: auto;
    }
    .items{
        width: 100%;
        text-align: center;
        padding: 20px 100px;
        border-top: 2px solid rgb(155, 153, 153);
    }
    .btn{
        display:grid;
        position: relative;
        align-self: end;
        margin-top: 2px;
    }
    .nav_logo{
      display: none;
    }
  }